body{
    background-color: black;
}

*{
    padding: 0;
    margin: 0;
}

.nav{
    font-family: 'Ububtu',sans-serif;
}

nav ul{
    display:flex ;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: rgb(49, 188, 206);
    color: whitesmoke;
}

nav ul li{
    padding: 0 12px;
    margin: 90px;
}


.Brand img{
    width: 49px;
    padding: 0 8px;
}

.Brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.conterner{
    min-height: 80vh;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 30px auto;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    background-image: url('relex.jpg');
    background-size: cover;
}

P{
    font-size: 30px;
    padding: 10px;
    margin: 10px;
}

.watchhere{
    position: relative;
    left: 500px;
}

.filmstar h2{
    font-size: 30px;
    padding: 15px;
    color: rgb(0, 0, 0);
}

.filmstar h3{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(255, 123, 0);
}

.filitem{
    align-items: center;
}

.filitem img{
    position: relative;
    top: 20px;
    width: 60px;
    height: 60px;
    margin-top: -15px;
}